.Label {
    display: flex;
    margin-bottom: var(--label-margin);

    &.Required {
        &::after {
            content: "*";
            font-size: 12px;
            font-weight: 300;
            color: hsla(var(--label-required));
            margin-left: 4px;
        }
    }

    &.Error p {
        color: hsla(var(--label-text));

        span {
            font-style: italic;
            font-weight: 300;
            margin-left: 4px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: hsla(var(--white-3));
    }
}